### DistRepos
- name: Cleanup package cache (apt)
  ansible.builtin.apt:
    autoclean: true
  changed_when: false
  when: ansible_facts['pkg_mgr'] == "apt"

- name: Autoremove orphaned packages (apt)
  tags: always,cleanup
  ansible.builtin.apt:
    autoremove: true
  when: ansible_facts['pkg_mgr'] == "apt"

- name: Clean package cache and orphaned packages (pacman)
  ansible.builtin.command: paccache -rk2 -ruk1
  when: ansible_facts['pkg_mgr'] == "pacman"

### flatpak
- name: Remove unused flatpak packages
  ansible.builtin.command: flatpak uninstall --unused -y
  when:
    - env_datadirs is defined
    - env_datadirs.find("/var/lib/flatpak")
  changed_when: false
