- name: Config_all-mail - postfix - local mail - sending initial test mail to root (all)
  community.general.mail:
    subject: Config_all-mail - postfix - local mail - sending initial mail to root
    body: Sending local mail to root-user seems to work.
    # to: root
    # to: root@localhost
  delegate_to: localhost

- name: Config_all-mail - postfix - local mail - sending initial test mail to env_user (all)
  community.general.mail:
    subject: "Config_all-mail - postfix - local mail - sending initial mail to {{ env_user }}"
    body: Sending local mail to user seems to work.
    to: "{{ env_user }}"
    # to: "{{ env_user }}@localhost"
  delegate_to: localhost
