# ####################
# ### Cronie / Anacron
# ####################
# war zumindest bei letzter Inst von Manjaro erforderlich

- name: All settings - cronie, anacron - create local folder for anacron if not exists (Archlinux)
  ansible.builtin.file:
    path: /var/spool/anacron
    state: directory
    mode: "0777"
  when:
    - ansible_facts['distribution'] in ["Archlinux"]
