# ##########
# ### System
# ##########
# systemweit

# ---------------------
# ### cups OpenPrinting
# ---------------------
- name: All services misc - cups.service (Arch)
  ansible.builtin.service:
    name: cups.service
    state: started
    enabled: true
  when: ansible_facts['distribution'] in ["Archlinux"]

# -------------
# Cron / Cronie
# -------------
# cron wird verwendet z.B. von von ClamTK und timeshift
#
# https://wiki.archlinux.org/title/Cron
- name: All services misc - cronie.service (Arch)
  ansible.builtin.service:
    name: cronie.service
    state: started
    enabled: true
  when: ansible_facts['distribution'] in ["Archlinux"]

# ---------------------------------
# # retrieve the latest mirror list
# ---------------------------------
# https://man.archlinux.org/man/reflector.1#EXAMPLES
# https://wiki.archlinux.org/title/Reflector#top-page
# - conf: /etc/xdg/reflector/reflector.conf   -->   siehe config_all-settings-misc.yml
- name: All services misc - reflector.service - etrieve the latest mirror list (Arch)
  ansible.builtin.service:
    name: reflector.service
    # state: started
    enabled: true
  when:
    - ansible_facts['distribution'] in ["Archlinux"]

# ------------------------------------------------
# # update pacman files database (default: weekly)
# ------------------------------------------------
# - https://wiki.archlinux.org/title/Pacman#Search_for_a_package_that_contains_a_specific_file
# - https://wiki.archlinux.org/title/Pacman#Querying_package_databases
- name: All services misc - pacman-filesdb-refresh.timer - update pacman files database (Arch)
  ansible.builtin.service:
    name: pacman-filesdb-refresh.timer
    state: started
    enabled: true
  when: ansible_facts['distribution'] in ["Archlinux"]

# -------------------------------------------
# # update pkgfile database (default: daily)
# -------------------------------------------
# - https://wiki.archlinux.org/title/Pkgfile#Automatic_updates
- name: All services misc - pkgfile-update.timer - update pkgfile database (Arch)
  ansible.builtin.service:
    name: pkgfile-update.timer
    state: started
    enabled: true
  when: ansible_facts['distribution'] in ["Archlinux"]

# ----------------------------------------------
# # cleaning the package cache (default: weekly)
# ----------------------------------------------
# - https://wiki.archlinux.org/title/Pkgfile#Automatic_updates
- name: All services misc - paccache.timer - cleaning package cache (Arch)
  ansible.builtin.service:
    name: paccache.timer
    enabled: true
  when: ansible_facts['distribution'] in ["Archlinux"]

# ----------------------------------------------
# # Fwupd - Firmware updates
# - download the latest metadata from the Linux Vendor firmware Service (LVFS)
# ----------------------------------------------
# - https://wiki.archlinux.org/title/Fwupd#Usage
- name: All services misc - fwupd-refresh.timer (all)
  ansible.builtin.service:
    name: fwupd-refresh.timer
    state: started
    enabled: true

# ------------
# # SSH / SSHD
# ------------
- name: All services misc - disable ssh (Debian)
  ansible.builtin.service:
    name: ssh
    # state: started
    enabled: false
  when: ansible_facts['distribution'] in ["Debian"]

- name: All services misc - disable sshd (Archlinux)
  ansible.builtin.service:
    name: sshd
    # state: started
    enabled: false
  when: ansible_facts['distribution'] in ["Archlinux"]

# --------
# # ClamAV
# --------

# ### Clamav database

# needed by clamav-freshclam.service - preparing logfile (touch)
- name: All services misc - clamav - create freshclam log file (all)
  ansible.builtin.file:
    path: "/var/log/clamav/freshclam.log"
    state: touch
    owner: clamav
    group: clamav
    mode: u=rw,g=r,o=

# Arch-Wiki/ManjaroWiki: https://wiki.archlinux.org/title/ClamAV bzw. https://wiki.manjaro.org/index.php/ClamAV
# You will need to run freshclam before starting the service for the first time
# or you will run into trouble/errors which will prevent ClamAV from starting correctly.
#
# You may get a notification that clamd was not notified. This is normal because we haven't started the service yet.
#
- name: All services misc - clamav - Update clamav database (Arch)
  ansible.builtin.shell:
    cmd: freshclam
  args:
    creates: /home/{{ env_user }}/.ansible_freshclamInitialStartExecuted
  when: ansible_facts['distribution'] in ["Archlinux"]

# - name: All services misc - Update clamav database (Debian)
#  # ansible.builtin.shell: freshclam
#  ansible.builtin.shell: freshclam --daemon --user=clamav   # Fehlermeldung
#  args:
#    creates: /home/{{ env_user }}/.ansible_freshclamInitialStartExecuted
#  when: ansible_facts['distribution'] in ["Debian"]

- name: All services misc - clamav - Set flag file freshclamInitialStartExecuted (all)
  ansible.builtin.file:
    path: "/home/{{ env_user }}/.ansible_freshclamInitialStartExecuted"
    state: touch
    owner: "{{ env_user }}"
    group: "{{ env_user }}"
    mode: u=rw,g=r,o=r

# ### Start and enable clamav services

- name: All services misc - clamav - Start+enable clamav-daemon.service (all)
  ansible.builtin.service:
    name: clamav-daemon.service
    state: started
    enabled: true

- name: All services misc - clamav - Start+enable clamav-freshclam.service (all)
  ansible.builtin.service:
    name: clamav-freshclam.service
    state: started
    enabled: true

# -------------------------
# ### starship shell prompt
# -------------------------
# https://starship.rs/

- name: All services misc - starship shell prompt update - Create service unit file (all)
  ansible.builtin.blockinfile:
    path: "/etc/systemd/system/starship_update.service"
    create: true
    backup: true
    marker: "# ### {mark} ANSIBLE MANAGED BLOCK - starship shell prompt update ###"
    block: |
      [Unit]
      Description=starship shell prompt update

      [Service]
      Type=oneshot
      #ExecStart=/usr/bin/curl -sS https://starship.rs/install.sh > starship_install.sh
      #ExecStart=/usr/bin/chmod 755 starship_install.sh && /usr/bin/bash starship_install.sh --yes && /usr/bin/rm starship_install.sh
      #
      ExecStart=/usr/bin/bash /usr/local/bin/starship_update.sh $HOME
    state: present
    group: root
    owner: root
    mode: "0644"

- name: All services misc - starship shell prompt update - Create timer unit file (all)
  ansible.builtin.blockinfile:
    path: "/etc/systemd/system/starship_update.timer"
    create: true
    backup: true
    marker: "# ### {mark} ANSIBLE MANAGED BLOCK - starship shell prompt update ###"
    block: |
      [Unit]
      Description=starship shell prompt update

      [Timer]
      Unit=starship_update.service
      OnCalendar=Sat *-*-* 11:00:00
      AccuracySec=12h
      #RandomizedDelaySec=24h
      Persistent=true

      [Install]
      WantedBy=timers.target
    state: present
    group: root
    owner: root
    mode: "0644"

- name: All services misc - starship shell prompt update - start+enable timer (all)
  ansible.builtin.systemd:
    name: starship_update.timer
    state: started
    enabled: true
    daemon_reload: true

# ---------------
# ### zsh plugins
# ---------------
# zugehöriges, auszuführendes Script wird in 'config_all-services-misc.yml' in '/usr/local/bin' erstellt

- name: All services misc - zsh plugins update - Create service unit file (Arch)
  ansible.builtin.blockinfile:
    path: "/etc/systemd/system/zshpluginsgit_update.service"
    create: true
    backup: true
    marker: "# ### {mark} ANSIBLE MANAGED BLOCK - zshpluginsgit_update ###"
    block: |
      [Unit]
      Description=zsh plugins git update

      [Service]
      Type=oneshot
      ExecStart=/usr/bin/bash /usr/local/bin/zshpluginsgit_update.sh
    state: present
    group: root
    owner: root
    mode: "0644"
  when: ansible_facts['distribution'] in ["Archlinux"]

# monatlich (am 1. um 11:05 Uhr); alternativ: 'OnCalendar=monthly' (= monatlich am 01. umd 00:00 Uhr)
- name: All services misc - zsh plugins update - Create timer unit file (Arch)
  ansible.builtin.blockinfile:
    path: "/etc/systemd/system/zshpluginsgit_update.timer"
    create: true
    backup: true
    marker: "# ### {mark} ANSIBLE MANAGED BLOCK - zshpluginsgit_update ###"
    block: |
      [Unit]
      Description=zsh plugins git update

      [Timer]
      Unit=zshpluginsgit_update.service
      OnCalendar=*-*-01 11:05:00
      AccuracySec=12h
      #RandomizedDelaySec=24h
      Persistent=true

      [Install]
      WantedBy=timers.target
    state: present
    group: root
    owner: root
    mode: "0644"
  when: ansible_facts['distribution'] in ["Archlinux"]

- name: All services misc - zsh plugins update - start+enable timer (Arch)
  ansible.builtin.systemd:
    name: zshpluginsgit_update.timer
    state: started
    enabled: true
    daemon_reload: true
  when: ansible_facts['distribution'] in ["Archlinux"]

# ------------------
# ### cockpit.socket
# ------------------
# https://localhost:9090
# vorerst Weiternutzung "Virtual Machine Manager" (s. auch packages_workstation-basic), daher auskommentiert:
# - name: All services misc - zsh plugins update - start+enable timer (all)
#   ansible.builtin.systemd:
#     name: cockpit.socket
#     state: started
#     enabled: true
#     daemon_reload: true

# -------------------------------------------------------------------------------------------------
# -------------------------------------------------------------------------------------------------

# ########
# ### user
# ########
# systemd user instance

# ----------------------------------------------------------------------------------------------------
# Anmekrung zu "systemctl --user status .." -  Abfrage
# das Verzeichnis "/etc/xdg/systemd/user" ist ein Link auf "../../systemd/user" (= "/etc/systemd/user")
# daher wird z.B. angezeigt:
# "Loaded: loaded (/etc/xdg/systemd/user/clamav_scanHome.timer; enabled; preset: enabled)"
# ----------------------------------------------------------------------------------------------------

# -------------
# ### Syncthing
# -------------
# https://docs.syncthing.net/users/autostart.html#linux

- name: All services misc - Syncthing - start+enable - env_user (all)
  ansible.builtin.systemd:
    name: syncthing.service
    state: started
    enabled: true
    # daemon_reload: true
    scope: user
  become: true
  become_user: "{{ env_user }}"
  environment:
    XDG_RUNTIME_DIR: "{{ env_user_XDG_RUNTIME_DIR }}"

# ----------
# ### ClamAV
# ----------

# https://stackoverflow.com/questions/45776003/fixing-a-systemd-service-203-exec-failure-no-such-file-or-directory
# Check: systemctl --user status clamav_scanHome.service
- name: All services misc - ClamAV - Create service unit file - user - scanHome (all)
  ansible.builtin.blockinfile:
    path: "/etc/systemd/user/clamav_scanHome.service"
    create: true
    backup: true
    marker: "# ### {mark} ANSIBLE MANAGED BLOCK - ClamAV scanHOME ###"
    block: |
      [Unit]
      Description=Scan home directory

      [Service]
      Type=oneshot
      #RemainAfterExit=yes
      #-> wenn status aktiv behält lässt sich der Service (auch manuell / nur in diesem Fall?) nicht erneut starten
      ExecStart=/bin/bash /usr/local/bin/scanHome.sh $HOME 2>/dev/null
      #User={{ env_user }}
    state: present
    group: root
    owner: root
    mode: "0644"

# Check: systemctl --user status clamav_scanHome.timer
- name: All services misc - ClamAV - Create timer unit file - user - scanHome (all)
  ansible.builtin.blockinfile:
    path: "/etc/systemd/user/clamav_scanHome.timer"
    create: true
    backup: true
    marker: "# ### {mark} ANSIBLE MANAGED BLOCK - ClamAV scanHOME ###"
    block: |
      [Unit]
      Description=Scan home directory

      [Timer]
      Unit=clamav_scanHome.service
      OnCalendar=Sat *-*-* 11:30:00
      AccuracySec=2h
      #RandomizedDelaySec=24h
      Persistent=true

      [Install]
      WantedBy=timers.target
    state: present
    group: root
    owner: root
    mode: "0644"

- name: All services misc - ClamAV - start+enable timer - env_user - scanHome (all)
  ansible.builtin.systemd:
    name: clamav_scanHome.timer
    state: started
    enabled: true
    daemon_reload: true
    scope: user
  become: true
  become_user: "{{ env_user }}"
  environment:
    XDG_RUNTIME_DIR: "{{ env_user_XDG_RUNTIME_DIR }}"
#
# -------------
# ### ulauncher
# -------------
# https://ulauncher.io/
# https://github.com/Ulauncher/Ulauncher/

# install von ulauncher in install script im Anschluss an playbook verlagert, daher an dieser Stelle noch nicht vorhanden
#
# - name: All services misc - ulauncher - start+enable - env_user (all)
#   ansible.builtin.systemd:
#     name: ulauncher.service
#     state: started
#     enabled: true
#     # daemon_reload: true
#     scope: user
#   become: true
#   become_user: "{{ env_user }}"
#   environment:
#     XDG_RUNTIME_DIR: "{{ env_user_XDG_RUNTIME_DIR }}"
