# ###############
# ### system-wide
# ###############

# ----------------------------------------------
# # Fwupd - Firmware updates
# - download the latest metadata from the Linux Vendor firmware Service (LVFS)
# ----------------------------------------------
# - https://wiki.archlinux.org/title/Fwupd#Usage

- name: All services misc - fwupd-refresh.timer (all)
  ansible.builtin.service:
    name: fwupd-refresh.timer
    state: started
    enabled: true

# ------------------
# ### cockpit.socket
# ------------------
# https://localhost:9090
# vorerst Weiternutzung "Virtual Machine Manager" (s. auch packages_workstation-basic), daher auskommentiert:
# - name: All services misc - zsh plugins update - start+enable timer (all)
#   ansible.builtin.systemd:
#     name: cockpit.socket
#     state: started
#     enabled: true
#     daemon_reload: true

# -------------------------------------------------------------------------------------------------
# -------------------------------------------------------------------------------------------------

# ########
# ### user
# ########
# systemd user instance

# ----------------------------------------------------------------------------------------------------
# Anmekrung zu "systemctl --user status .." -  Abfrage
# das Verzeichnis "/etc/xdg/systemd/user" ist ein Link auf "../../systemd/user" (= "/etc/systemd/user")
# daher wird z.B. angezeigt:
# "Loaded: loaded (/etc/xdg/systemd/user/clamav_scanHome.timer; enabled; preset: enabled)"
# ----------------------------------------------------------------------------------------------------

#
# -------------
# ### ulauncher
# -------------
# https://ulauncher.io/
# https://github.com/Ulauncher/Ulauncher/

# install von ulauncher in install script im Anschluss an playbook verlagert, daher an dieser Stelle noch nicht vorhanden
#
# - name: All services misc - ulauncher - start+enable - env_user (all)
#   ansible.builtin.systemd:
#     name: ulauncher.service
#     state: started
#     enabled: true
#     # daemon_reload: true
#     scope: user
#   become: true
#   become_user: "{{ env_user }}"
#   environment:
#     XDG_RUNTIME_DIR: "{{ env_user_XDG_RUNTIME_DIR }}"
