# ####################
# ### Cronie / Anacron
# ####################
# war zumindest bei letzter Inst von Manjaro erforderlich

- name: Config_all-cron - cronie, anacron - create local folder for anacron if not exists (Archlinux)
  ansible.builtin.file:
    path: /var/spool/anacron
    state: directory
    mode: "0777"
  when:
    - ansible_facts['distribution'] in ["Archlinux"]

# ##########
# ### ClamAV
# ##########

# siehe neu bei services (mit systemd/Timer umgesetzt)

# - name: Create Cronjob to scan home-folder of env_user (Archlinux, Debian)
#  ansible.builtin.cron:
#    name: "scan home-folder"
#    special_time: weekly
#    user: "{{ env_user }}"
#    # job: /usr/bin/clamdscan --fdpass --multiscan --move="${HOME}/.clam/quarantine" --log="${HOME}/.clam/logs/$(date +\%Y\%m\%d)-weekly.log" "${HOME}" 2>/dev/null 1>&2
#    job: '/etc/clamav/ScanHOME.sh "${HOME}" 2>/dev/null'
#  when:
#    - ansible_facts['distribution'] in ["Debian", "Archlinux"]
