# -------------
# ### Syncthing
# -------------
# https://docs.syncthing.net/users/autostart.html#linux

- name: All services - Syncthing - start+enable - env_user (all)
  ansible.builtin.systemd:
    name: syncthing.service
    state: started
    enabled: true
    # daemon_reload: true
    scope: user
  become: true
  become_user: "{{ env_user }}"
  environment:
    XDG_RUNTIME_DIR: "{{ env_user_XDG_RUNTIME_DIR }}"
