# ###################################
# ### NOT Desktop Environmet specific
# ###################################

- name: Install basic packages for workstations (all)
  ansible.builtin.package:
    state: present
    name:
      - 7zip
      # - ansible # Official assortment of Ansible collections # oder nur min-version 'ansible-core' # bereits installiert (bootstrap) # -> pip
      # - ansible-core # Radically simple IT automation platform # wird bei 'ansible' mitinstalliert # -> pip
      # - ansible-lint # für z.B. ansible extension in VS Code # -> pip
      - bash
      - bash-completion
      - bat # Cat clone with syntax highlighting and git integration (u.a. wg. nnn + alias (cat))
      - bleachbit
      - bzip3
      - catimg # Print images in a terminal with 256 colors support (u.a. wg. nnn)
      - chafa # Image-to-text converter for terminal (u.a. wg. nnn)
      - clamav
      - clamtk
      # - cockpit               # A systemd web based user interface for Linux servers # vorerst Weiternutzung "Virtual Machine Manager"
      # - cockpit-packagekit    # Cockpit user interface for packages
      # - cockpit-storaged      # Cockpit user interface for storage, using udisks
      # - cockpit-machines      # Cockpit UI for virtual machines
      # - cockpit-podman        # Cockpit UI for podman containers
      # - cockpit-pcp           # Cockpit support for reading PCP metrics and loading PCP archives
      - cryptsetup # benötigt für LUKS # sollte schon installiert sein
      - cups
      - curl
      # - deja-dup # aktuell genutzt: Vorta+borg # A trivial-to-use personal backup tool to protect against accidental data loss
      - direnv
      - dmidecode
      - duf # Disk Usage/Free Utility
      - efivar
      # - evolution -> thunderbird
      - eza # A modern replacement for ls (community fork of exa)
      - flatpak
      - font-manager
      - fzf # Command-line fuzzy finder (u.a. wg. nnn)
      - gcc
      - gimp
      # - gimp-help-en
      - git # bereits installiert (bootstrap)
      - grsync
      - gzip
      - hplip # Drivers for HP DeskJet, OfficeJet, Photosmart, Business Inkjet and some LaserJet
      - htop
      - hunspell
      - imv # Image viewer for Wayland and X11 (u.a. wg. nnn)
      - inotify-tools # benötigt von 'grub-btrfsd.service' # command-line programs providing a simple interface to inotify
      - inxi
      - jq # Command-line JSON processor
      - keepassxc
      - libfaketime # Report fake dates and times to programs without having to change the system-wide time.
      - lowdown # A simple Markdown translator (u.a. wg. nnn)
      - lsb-release
      - make
      - micro # Modern and intuitive terminal-based text editor # replacing nano
      - moreutils # additional Unix utilities - parallel command; enthält z.B. vidir (u.a. wg. nnn)
      - nnn # Free, fast, friendly terminal file manager
      - pavucontrol # PulseAudio Volume Control (and pipewire; pipewire-pulse replaces pulseaudio)
      - rclone # sync tool
      - rsync # bereits installiert (bootstrap)
      # - samba # z.B. für VM: File sharing between host and Windows guest; https://wiki.manjaro.org/index.php/Virt-manager/en
      - shellcheck # Shell script analysis tool (u.a. Verwendet in Extension/Plugin vim, (VS)Code, Zed)
      - shfmt # Format shell programs # also uses by VS Code / Code OSS Extension "shell-format", Zed bzw. bash-language-server
      - speedtest-cli
      - sqlitebrowser # + s.u.: Arch: sqlite; debian: sqlite3
      - syncthing
      - tealdeer # A fast tldr client in Rust # replaced "tldr"
      - thunderbird
      - tk # Graphical User Interface Toolkit for Tcl   # z.B. pyenv install <version>: requirement
      - tmux
      - trash-cli # Command line trashcan (recycle bin) interface
      - tree
      - unzip
      - vim # bereits installiert (bootstrap)
      - vim-ale # Lint Engine (plugin for vim)
      - vlc
      - w3m # Text-based Web browser as well as pager (u.a. wg. nnn)
      - wget
      - xdg-utils
      - xterm # (u.a. wg. nnn)
      - yamllint
      # - yaml-language-server # anscheinend nicht mehr in debian repos # via npm (siehe packages_workstation-nvmNodejs.yml)
      - yq # Command-line YAML, XML, TOML processor - jq wrapper for YAML/XML/TOML documents
      - zoxide # A smarter cd command for your terminal (u.a. wg. nnn)
      - zsh
      - zstd
      # ------------
      # Multimedia
      # ------------
      # Audio Codecs
      - ffmpeg
      - flac
      - lame
      - twolame
      - wavpack
      - speex
      # ------------
      # Video Codecs
      - dav1d
      - rav1e
      - svt-av1
      - x264
      - x265
      # ---------
      # firmware:
      - fwupd

- name: Install basic packages (Archlinux)
  ansible.builtin.package:
    state: present
    name:
      - archlinux-keyring
      - base-devel # insbes. wg. AUR Paketen   # bereits installiert (bootstrap)
      - bash-language-server # benötigt von Zed editor Extension (Bash for Zed)
      - borg # Deduplicating backup program with compression and authenticated encryption # GUI: vorta -> via yay in bootstrap.sh
      - chromium
      - cronie # z.B. für clamtk + timeshift # Daemon that runs specified programs at scheduled times and related tools
      - compsize # Calculate compression ratio of a set of files on Btrfs
      - cups-pdf
      - discord
      - enchant # A wrapper library for generic spell checking
      - eslint # An AST-based pattern checker for JavaScript (für VS Code / Code - OSS Extension)
      # evolution replaced by thunderbird
      # - evolution-bogofilter
      # - evolution-ews # MS Exchange integration through Exchange Web Services
      # - evolution-spamassassin
      # - evolution-on # Tray plugin for the Evolution email client
      - fd # Simple, fast and user-friendly alternative to find
      - fastfetch
      - firefox
      - firefox-i18n-en-us
      - firewalld # Firewall daemon with D-Bus interface
      - foliate # A simple and modern GTK eBook reader
      - freerdp # u.a. für Remmina
      - github-cli
      - ghostty # Fast, native, feature-rich terminal emulator pushing modern features # gpu beschleunigtes terminal
      - glow # Command-line markdown renderer
      - gnupg
      - gpgme
      - hunspell-de
      - hunspell-en_us
      # - ipset
      - libnotify # Library for sending desktop notifications
      - libreoffice-still
      # - libreoffice-still-de
      - libreoffice-still-en-gb
      - lshw
      - malcontent # Parental control support for applications
      - nextcloud-client
      - obs-studio # 10/2023: for 'obs-studio' to work install 'qt6-wayland' (see further below)
      - openssh # bereits installiert (via install script)
      - packagekit
      - pacman-contrib # Contributed scripts and tools for pacman systems # e.g. for pacman-filesdb-refresh.timer, paccache.timer
      - pkgfile # sollte bereits installiert sein (mit 'pacman') # tool for searching files from packages in the official repositories
      - pkgstats # Submit a list of installed packages to the Arch Linux project (anonymous, cannot identify the user)
      - poppler # PDF rendering library based on xpdf 3.0 (u.a. wg. nnn)
      - psutils # A set of postscript utilities
      - ptyxis # A container oriented terminal # gpu beschleunigtes terminal
      - qt6-wayland # 10/2023: for 'obs-studio' to work install 'qt6-wayland'
      - reflector # A Python 3 module and script to retrieve and filter the latest Pacman mirror list.
      - remmina # remote desktop client written in GTK+
      - signal-desktop
      - sqlite # A C library that implements an SQL database engine
      - steam
      - torbrowser-launcher
      - tree-sitter # Incremental parsing library
      - tree-sitter-bash # Bash grammar for tree-sitter # benötigt von Zed editor Extension (Bash for Zed)
      - tree-sitter-cli # CLI tool for developing, testing, and using Tree-sitter parsers
      - ttf-dejavu
      - ttf-dejavu-nerd
      - ttf-firacode-nerd # ~ 40 MB Install Size
      - ttf-jetbrains-mono-nerd # ~200 MB Install Size
      - ttf-sourcecodepro-nerd # ~ 85 MB Install Size
      # - ttf-zed-mono-nerd # ~680 MB Install Size
      - ueberzug # command line utility which draws images on terminals (in combi with X11?) (u.a. wg. nnn)
      - vim-ansible
      - vim-jedi # Vim plugin for jedi, an awesome Python autocompletion
      - viu # Simple terminal image viewer (u.a. wg. nnn)
      - wireguard-tools
      - zed # A high-performance, multiplayer code editor from the creators of Atom and Tree-sitter
      - zsh-autosuggestions # besser: install from git?
      # - zsh-completions # besser: install from git?
      - zsh-syntax-highlighting # besser: install from git?
      - zsh-history-substring-search # besser: install from git?
      # - zshdb # A debugger for zsh scripts
      # ----------
      # Multimedia
      # ----------
      # gstreamer and plugins
      - gstreamer # https://wiki.archlinux.org/title/GStreamer
      - gst-libav # plugin containing many decoders and encoders
      - gst-plugins-bad # Plugins that need more quality, testing or documentation.
      - gst-plugins-base # Essential exemplary set of elements.
      - gst-plugins-good # Good-quality plugins under LGPL license.
      - gst-plugins-ugly # Good-quality plugins that might pose distribution problems.
      # Audio Codecs
      - faac
      - faad2
      - libmad
      - libfdk-aac
      - libmpcdec
      - libvorbis
      - opus
      - opencore-amr
      # ------------
      # Image Codecs
      - jasper
      - openjpeg2
      - libwebp
      - libavif
      - libheif
      - libjxl
      # ------------
      # Video Codecs
      - aom
      - libde265
      - libmpeg2
      - libvpx
      - libtheora
      # - vlc-plugins-all
      - vlc-plugins-base
      - vlc-plugins-extra
      # - vlc-plugin-bluray     # dependency von vlc-plugins-extra
      # - vlc-plugin-dvd        # dependency von vlc-plugins-extra
      - vlc-plugin-ffmpeg
      # - vlc-plugin-freetype   # dependency von vlc-plugins-extra
      - vlc-plugin-gstreamer
      # - vlc-plugin-matroska   # dependency von vlc-plugins-extra
      # - vlc-plugin-srt        # dependency von vlc-plugins-extra
      # - vlc-plugin-vpx        # dependency von vlc-plugins-base
      - vlc-plugin-x264
      - vlc-plugin-x265
      - xvidcore
      # ---------
      # firmware:
      - linux-firmware
      - sof-firmware
  when: ansible_facts['distribution'] in ["Archlinux"]

- name: Install basic packages (Debian)
  ansible.builtin.package:
    state: present
    name:
      - borgbackup # Deduplicating backup program with compression and authenticated encryption
      # - btrfs-compsize
      - clamav-daemon
      # - cockpit-networkmanager # Cockpit user interface for networking
      - eslint # An AST-based pattern checker for JavaScript (für VS Code / Code - OSS Extension)
      # - evolution-plugin-bogofilter
      # - evolution-plugin-pstimport
      # - evolution-plugin-spamassassin
      # - evolution-plugins
      - exfat-fuse
      - fd-find # Simple, fast and user-friendly alternative to find
      - firefox-esr # bereits installiert
      - gh # GitHub CLI, GitHub\u2019s official command line tool
      - gitk
      - gpg
      - gufw # gui for ufw
      - hunspell-de-de
      - hunspell-en-us
      - kitty # gpu beschleunigtes terminal -> replaced by Ghostty (Arch)
      - libidn11-dev # benötigt für Citrix Workspace app (ica client)
      - libnotify-bin # sollte schon installiert sein
      - neofetch
      - openssh-client # bereits installiert (install script: via metapackage ssh)
      - packagekit # sollte bereits installiert sein # notwendig u.a. für cockpit
      - poppler-utils # PDF utilities (based on Poppler) (u.a. wg. nnn)
      - printer-driver-cups-pdf
      - sqlite3
      - ssh # bereits installiert (install script)
      # - timeshift
      # - fonts-firacode
      # - fonts-jetbrains-mono
      - ueberzug # command line utility which draws images on terminals (in combi with X11?) (u.a. wg. nnn)
      - ufw # Uncomplicated and easy to use CLI tool for managing a netfilter firewall
      - units # converts between different systems of units
      - vorta # Desktop Client for Borg Backup
      - vim-python-jedi # autocompletion tool for Python - VIM addon files
      # - wmctrl # autokey dependancy # sollte bereits installiert sein
      # Command line tool to interact with an EWMH/NetWM compatible X Window Manager
      - wireguard
      # ----------
      # Multimedia
      # - entspechende libs sollten bereits installiert sein (wenn im Installer ausgewählt wurde)
      # ----------
      # gstreamer and plugins
      # - gstreamer1.0-x
      # - gstreamer1.0-plugins-bad
      # - gstreamer1.0-plugins-base
      # - gstreamer1.0-plugins-good
      # - gstreamer1.0-plugins-ugly
      # ------------
      # Audio Codecs
      # - libfaad2
      # - libmad0
      # - libmpcdec6
      # - libopus0
      # - libvorbis0a
      # - libvorbisenc2
      # - libvorbisfile3
      # - libopencore-amrnb0
      # - libopencore-amrwb0
      # - libvo-amrwbenc0
      # ------------
      # Image Codecs
      # - libopenjp2-7
      # - libwebp7
      # - libavif16
      # - libjxl0.11
      # - libjxl0.7
      # ------------
      # Video Codecs
      # - libaom3
      # - libde265-0
      # - libmpeg2-4
      # - libxvidcore4
      # - libvpx7
      # - libvpx9
      # - libtheora0
      # - libtheoradec1
      # - libtheoraenc1
      # zsh-plugins: siehe "packages_workstation-localPackageInstall.yml"
      # - zsh-autosuggestions           # über git: https://github.com/zsh-users/zsh-autosuggestions
      # - zsh-syntax-highlighting       # über git: https://github.com/zsh-users/zsh-syntax-highlighting
      # - zsh-history-substring-search  # über git: https://github.com/zsh-users/zsh-history-substring-search
      #
      # firmware:
      - firmware-linux # firmware-linux
  when: ansible_facts['distribution'] == "Debian"

- name: Install basic packages - xclip (all + x11 display server)
  ansible.builtin.package:
    state: present
    name:
      - xclip # Command line interface to the X11 clipboard # Voraussetzung für snap-package "espanso"
  when:
    - env_displayserver == "x11"

# - Steam ppa wurde hinzugefügt in config_workstation-addrepos.yml
# - https://linuxcapable.com/how-to-install-steam-on-debian-linux/
# - https://wiki.debian.org/Steam
# - name: Install basic packages - Steam (Debian)
#   ansible.builtin.package:
#     state: present
#     name:
#       # Vorbereitung (sollten schon vorhanden sein):
#       - software-properties-common
#       - apt-transport-https
#       - dirmngr
#       - ca-certificates
#       - curl
#       # für Steam selbst:
#       - steam-libs
#       - steam-libs-amd64
#       - steam-launcher
#       - mesa-vulkan-drivers
#       - libglx-mesa0
#       - libgl1-mesa-dri
#   when:
#     - ansible_facts['distribution'] == "Debian"
