# #################
# ### NVM / Node.js
# #################
# siehe auch ...all-settings-misc.yml (shell config)

- name: NvmNodejs - Clone nvm github repo (all)
  tags: [upnvm]
  become: true
  become_user: "{{ env_user }}"
  ansible.builtin.git:
    repo: https://github.com/nvm-sh/nvm.git
    dest: "/home/{{ env_user }}/.nvm"
    version: master
    update: false
    clone: true
    recursive: false

- name: NvmNodejs - Get latest tag commit
  tags: [upnvm]
  become: true
  become_user: "{{ env_user }}"
  ansible.builtin.command: git rev-list --tags --max-count=1
  args:
    chdir: "/home/{{ env_user }}/.nvm/"
  register: latest_tag_commit
  changed_when: false

- name: NvmNodejs - Register current nvm version of cloned git repo (all)
  tags: [upnvm]
  become: true
  become_user: "{{ env_user }}"
  ansible.builtin.command: >
    git describe --abbrev=0 --tags --match "v[0-9]*"
    {{ latest_tag_commit.stdout }}
  args:
    chdir: "/home/{{ env_user }}/.nvm/"
  register: nvmversion
  changed_when: false

- name: NvmNodejs - Print current nvm version from cloned git repo (all)
  tags: [upnvm]
  become: true
  become_user: "{{ env_user }}"
  ansible.builtin.debug:
    msg: "{{ nvmversion.stdout }}"

- name: NvmNodejs - Checkout current nvm version of cloned git repo (all)
  tags: [upnvm]
  become: true
  become_user: "{{ env_user }}"
  ansible.builtin.git:
    repo: https://github.com/nvm-sh/nvm.git
    dest: "/home/{{ env_user }}/.nvm"
    version: "{{ nvmversion.stdout }}"
    force: true
    recursive: false

- name: NvmNodejs - Loads nvm + installs current nodejs version via nvm (all)
  tags: [upnvm]
  become: true
  become_user: "{{ env_user }}"
  ansible.builtin.shell: |
    NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    nvm install node
  args:
    executable: /bin/bash

- name: NvmNodejs - Install packages via npm (all)
  tags: [upnvm]
  become: true
  become_user: "{{ env_user }}"
  community.general.npm:
    name: yaml-language-server
    global: false
    path: "/home/{{ env_user }}/.nvm"
    state: present
