# ##############
# ### KDE Plasma
# ##############

- name: Plasma - Install packages for workstations (Archlinux + KDE Plasma)
  tags: workstation,kde,arch
  ansible.builtin.package:
    state: present
    name:
      - cantata               # Qt[x] client for the music player daemon (MPD)
      - krita                 # Gnome: inkscape
      - ksnip
      - ktorrent
      - mpd                   # Music Player Daemon / Flexible, powerful, server-side application for playing music
      # - qt5-translations    # sollte schon installiert sein
      - skanlite
      # - yakuake             # dropdown Terminal # sollte bereits installiert sein
  when:
    - env_desktop == "kde"
    - ansible_facts['distribution'] == "Archlinux"
