- name: Install flatpak packages for workstations (all)
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: system
  with_items:
    - "net.ankiweb.Anki"
    - "com.belmoussaoui.Authenticator"
    # - "com.brave.Browser" # ArchPacStuff
    - "com.github.finefindus.eyedropper" # Pick and format colors from screen
    - "org.kde.kasts"
    - "org.cryptomator.Cryptomator"
    - "com.jgraph.drawio.desktop" # diagramming tool
    - "com.microsoft.Edge"
    # - "im.riot.Riot" # "Element": Matrix Client -> siehe Ferdium
    - "org.ferdium.Ferdium" # Messenger for the desktop - based on Franz
    - "com.github.tchx84.Flatseal"
    # - "com.meetfranz.Franz" # Messenger for the desktop -> siehe Ferdium
    - "it.mijorus.gearlever" # Manage AppImages
    - "de.willuhn.Jameica"
    - "net.cozic.joplin_desktop"
    - "nl.hjdskes.gcolor3" # Color Picker
    - "de.mediathekview.MediathekView"
    - "io.missioncenter.MissionCenter"
    - "de.haeckerfelix.Shortwave"
    # - "net.mkiol.SpeechNote"
    - "io.github.mfat.sshpilot"
    - "com.valvesoftware.Steam"
    - "org.tenacityaudio.Tenacity" # Audacity fork / replacement
    # - "com.visualstudio.code" # 'visual-studio-code-bin' from chaotic-aur, after playbook
    - "com.borgbase.Vorta"
    # - "com.vscodium.codium"

- name: Install flatpak packages (Extension Manager) for Gnome (Gnome, all)
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: system
  with_items:
    - "io.github.kolunmi.Bazaar" # Flatpak App Store for GNOME
    - "org.gnome.Extensions"
    - "com.mattjakeman.ExtensionManager"
  when:
    - env_desktop in ["gnome"]

- name: Install flatpak packages for workstations (Debian)
  tags: workstation,ubuntu,flatpak
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: system
  with_items:
    - "com.brave.Browser"
    - "org.chromium.Chromium"
    - "com.discordapp.Discord"
    - "com.github.johnfactotum.Foliate"
    - "org.keepassxc.KeePassXC"
    # - "org.ksnip.ksnip" # es können direkt Ergänzungen (Markieren, Rahmen, Pfeile, Text, ... gemacht werden; im ggs. zu Screenshot Tool unter Gnome)
    - "org.libreoffice.LibreOffice"
    - "com.nextcloud.desktopclient.nextcloud"
    - "org.gnome.Solanum"
    - "com.obsproject.Studio"
    - "org.remmina.Remmina"
    - "org.signal.Signal"
    - "com.github.micahflee.torbrowser-launcher"
  when:
    - ansible_facts['distribution'] in ["Debian"]
