- name: VM - add current user to groups 'kvm' and 'libvirt' (all)
  ansible.builtin.user:
    name: "{{ env_user }}"
    groups: kvm,libvirt
    append: true
  when:
    - ansible_facts['virtualization_role'] != "guest"
