- name: VM - start libvirtd (all)
  tags: VM
  ansible.builtin.service:
    name: libvirtd.service
    state: started
  when:
    - ansible_facts['virtualization_role'] != "guest"

- name: VM - enable libvirtd (all)
  tags: VM
  ansible.builtin.service:
    name: libvirtd.service
    enabled: true
  when:
    - ansible_facts['virtualization_role'] != "guest"
