# TODO: config/test nested virtualization (Win + Linux Guests)

- name: VM - install VM QEMU/KVM (Debian, not VM guest)
  ansible.builtin.package:
    state: present
    name:
      # - qemu-kvm
      - qemu-system # additional tool
      - libvirt-daemon
      - libvirt-daemon-system
      - libvirt-clients
      - bridge-utils
      - libguestfs-tools # additional tool
      - libosinfo-bin # additional tool
      - virtinst
      # - virt-top # nicht in debian repo
      - swtpm # wg. Win11 TPM 2.0
      - swtpm-tools
  when:
    - ansible_facts['distribution'] == "Debian"
    - ansible_facts['virtualization_role'] != "guest"

- name: VM - install VM QEMU/KVM (Archlinux, not VM guest)
  ansible.builtin.package:
    state: present
    name:
      - bridge-utils # Utilities for configuring the Linux ethernet bridge
      - dnsmasq # Lightweight, easy to configure DNS forwarder and DHCP server
      - iptables-nft # conflicts with 'iptables' ('iptables" ist installiert (Standard), wird über install script geändert und durch iptables-nft ersetzt)
        # Linux kernel packet control tool (using nft interface)
      - edk2-ovmf # UEFI Support # Firmware for Virtual Machines
      - libguestfs # Access and modify virtual machine disk images
      - libvirt # # API for controlling virtualization engines (openvz,kvm,qemu,virtualbox,xen,etc)
      - openbsd-netcat # TCP/IP swiss army knife. OpenBSD variant. # network piping application
      # - qemu              # hier muss aus 3 Optionen ausgewählt werden (base, desktop, full), daher bleibt da hängen
      # - qemu-base         # A basic QEMU setup for headless environments
      # - qemu-desktop      # A QEMU setup for desktop environments
      - qemu-full # A Full QEMU setup
      - swtpm # Libtpms-based TPM emulator with socket, character device, and Linux CUSE interface
      - vde2 # Virtual Distributed Ethernet for emulators like qemu
      - virt-install # Command line tool for creating new KVM , Xen, or Linux container guests using the libvirt hypervisor
  when:
    - ansible_facts['distribution'] == "Archlinux"
    - ansible_facts['virtualization_role'] != "guest"

- name: VM - install VM QEMU/KVM - virt-manager/viewer (all, not VM guest)
  ansible.builtin.package:
    state: present
    name:
      - virt-manager
      - virt-viewer
  when:
    - ansible_facts['virtualization_role'] != "guest"

- name: VM - install VM QEMU/KVM - Guest (all, VM guest)
  ansible.builtin.package:
    state: present
    name:
      - spice-vdagent # spice agent for Linux guests (z.B. für clipboard sharing host+guest)
  when:
    - ansible_facts['virtualization_role'] == "guest"

