# #########
# ### Gnome
# #########

# - gnome-shell-extensions... # -> separater Task (packages_workstation-gnomeshellstuff.yml)

- name: Gnome - Install packages for workstations (Gnome, all)
  ansible.builtin.package:
    state: present
    name:
      - alacarte # Menu editor for gnome
      - baobab # A graphical directory tree analyzer
      - celluloid # Simple GTK+ frontend for mpv # currently used for iptv streaming
      - dconf-editor
      - file-roller # Create and modify archives
      - gedit
      - gedit-plugins
      - gjs # Javascript Bindings for GNOME # + Ubnuntu: fehlendes Paket, damit ab 22.04 der Monitor in Engergiesparmodus kann
      # (Bildschirmausgabe wird ausgeschaltet nach längerer Inktivität)
      - gnome-calculator
      - gnome-disk-utility
      - gnome-epub-thumbnailer # (u.a. wg. nnn)
      - gnome-firmware
      - gnome-keyring
      # - gnome-terminal
      - gnome-weather # needed for gnome shell extension "Weather O'Clock"
      - inkscape # Plasma: Krita
      - libgda6 # needed for gnome shell extension "Copyous"
      - papers # Document viewer for PDF and other document formats aimed at the GNOME desktop
      - papirus-icon-theme
      - pdfarranger # Merge, split, rotate, and crop PDF files
      - rhythmbox
      - seahorse # "Passwords and Keys" # bereits standardmäßig installiert
      - showtime # Video player for GNOME ("distraction-free")
      - solaar # Linux device manager for a wide range of Logitech devices
  when:
    - env_desktop in ["gnome"]

- name: Gnome - Install packages for workstations (Archlinux + Gnome)
  ansible.builtin.package:
    state: present
    name:
      - dconf
      - decibels # Simple audio player for GNOME
      # - deluge # -> transmission-gtk
      - epiphany # A GNOME web browser based on the WebKit rendering engin
      # - guake # Drop-down terminal for GNOME
      - gtk-vnc # VNC viewer widget for GTK
      - nemo
      - nemo-seahorse
      - nemo-share
      # - nemo-terminal
      - orchis-theme
      - pycharm-community-edition # Python IDE
      - solanum # Pomodoro timer for the GNOME desktop
      - transmission-cli
      - transmission-gtk
  when:
    - ansible_facts['distribution'] == "Archlinux"
    - env_desktop == "gnome"

- name: Gnome - Install packages for workstations (Debian + Gnome)
  ansible.builtin.package:
    state: present
    name:
      - autokey-gtk
      - dconf-cli # sollte schon installiert sein
      - epiphany-browser
      - gnome-software-plugin-flatpak
      - gtkhash
      - nemo
      - orchis-gtk-theme
      - transmission # torrent client # sollte schon installiert sein
      - ulauncher # ppa wurde hinzugefügt im install script
  when:
    - ansible_facts['distribution'] == "Debian"
    - env_desktop == "gnome"
