- name: Install gnomeshell extension stuff (Gnome, all)
  tags: workstation,gnome,ubuntu
  package:
    state: latest
    name:
      - gnome-shell-extensions
      - gnome-shell-extension-appindicator
      - gnome-shell-extension-gsconnect
      - gnome-tweaks
  when:
    - env_desktop in ["gnome", "ubuntu:gnome"]


- name: Install gnomeshell extension stuff (Ubuntu >=22 + Gnome)
  tags: workstation,gnome,ubuntu
  package:
    state: latest
    name:
      - gnome-shell-extension-gsconnect-browsers
  when:
    - env_desktop == "ubuntu:gnome"
    - ansible_distribution_major_version|int >= 22


- name: Install gnomeshell extension stuff (Archlinux + Gnome)
  tags: workstation,gnome,arch
  package:
    state: latest
    name:
      - gnome-shell-extension-dash-to-dock
      #- gnome-shell-extension-dash-to-panel   # Extension for GNOME shell to combine the dash and main panel
      #- gnome-shell-extension-gamemode   # GNOME Shell extension for Feral Interactive's GameMode
      #- gnome-shell-extension-material-shell   # A modern desktop interface for Linux extending GNOME Shell
      #- gnome-shell-extension-nightthemeswitcher   # A GNOME Shell extension to make your desktop easy on the eye, day and night.
      #- gnome-shell-extension-pop-shell   # GNOME Shell extension for advanced tiling window management
  when:
    - ansible_distribution == "Archlinux"
    - env_desktop == "gnome"
