# ### vorerst Umstellung pipx -> pip
# mit deps:
faker # Ulauncher Extension Requirement faker
jedi-language-server # autocompletion for python (Anmerkung: 'jedi' installed via pip)
jupyter # Jupyter metapackage: notebook jupyterlab ipython ipykernel jupyter-console nbconvert ipywidgets
Pint # Ulauncher Extension Requirement Calculate Anything
virtualenv-pyenv # A virtualenv Python discovery plugin for pyenv–installed interpreters # installiert 'virtualenv' als dependency
wrapt_timeout_decorator # Ulauncher Extension Requirement Bluetooth
# ohne deps:
deepl

# ### Zugabe
ansible

# ### --------
# ### ansible
ansible-dev-tools
ansible-compat

# ### ----------
# ### python dev
autopep8
beautifulsoup4
black
build
cst-lsp
debugpy
flake8
html5lib
isort
jedi
lxml
pandas[excel, html, sql-other, mysql, output-formatting, performance, plot, xml]
pipenv
psutil
pyarrow
pylint
pylint-venv
pyright
pytest
python-lsp-server[all]
# virtualenvwrapper

# ### ----------------------
# ### Ulauncher requirements
bs4 # This is a dummy package designed to prevent namesquatting on PyPI. You should install beautifulsoup4 instead.
lorem
parsedatetime
pydbus
pytz
simpleeval
